# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/idea/runConfigurations/main.xml
idea/runConfigurations/main.xml
.idea/runConfigurations/main.xml
echo ".idea/runConfigurations/main.xml"
embeddings2.py
.venv/